﻿@{
    ViewBag.Title = "ServerError";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>500 Internal Error | One Guardian Left Behind</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/500")
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10 middle">
            <div class="error-container">
                <div class="error-main">
                    <h1 style="font-size: 120px">
                        <i class="livicon" data-name="warning" data-s="100" data-c="#ffbc60" data-hc="#ffbc60" data-eventtype="click" data-iteration="15" data-duration="2000"></i>
                        500
                    </h1>
                    <h3>
                        Thats an error.
                        <br>There was an error. Please Try again later. Thats all we know
                    </h3>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Home</a>
                    <br>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/livicons")
    @Scripts.Render("~/bundles/holder")
    <script type="text/javascript">
        $("document").ready(function () {
            setTimeout(function () {
                $(".livicon").trigger('click');
            }, 10);
        });
        // code for aligning center
        $(document).ready(function () {
            var x = $(window).height();
            var y = $(".middle").height();
            //alert(x);
            x = x - y;
            x = x / 2;
            $(".middle").css("padding-top", x);
        });
    </script>
</body>
</html>
